@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    background: white;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}

.wrapper h2 {
    color: royalblue;
    margin-bottom: 10px;
}

.wrapper .form {
    position: relative;
}

.wrapper .form input {
    width: 420px;
    background: #222;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    color: white;
}

.wrapper .form button {
    background: royalblue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    outline: none;
    font-size: 15px;
}

.wrapper input {
    width: 420px;
    background: #222;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    color: white;
}

.wrapper .form select {
    background: royalblue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    font-size: 15px;
}

.wrapper button {
    background: royalblue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    outline: none;
    font-size: 15px;
}

